### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# files
pytest.ini

# data directory
.pytest_cache

AMLSim-Extension/data
AMLSim-Extension/algo
AMLSim-Extension/old
tests/data